.weatherapp {
  margin: 100px 150px;
  border-radius: 10px;
  border: 0.1px solid rgb(143, 143, 143);
  padding: 55px 65px 70px 60px;
  max-width: 750px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
.main-conditions {
  text-align: right;
  font-size: 2.3rem;
}

h1 {
  margin-top: 5px;
  font-size: 30px;
}

.main-conditions {
  list-style: none;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #6d7074;
  line-height: 20px;
}

#icon {
  display: inline-block;
  height: 60px;
  margin: 15px 15px;
  vertical-align: top;
  width: 60px;
}

.fahrenheit {
  margin-left: -40px;
}

.main-temp {
  font-size: 40px;
  display: inline-block;
  padding-left: 5px;
  vertical-align: top;
  margin: 15px 30px;
}

.temp-scales {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
  padding-left: 6px;
  vertical-align: top;
  color: #434649;
}

a:hover,
a:link {
  text-decoration: none;
  color: #434649;
}

.phw {
  list-style: none;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
  color: #434649;
  margin: 35px -20px;
}

hr {
  margin-top: 50px;
}

#five-day-forecast {
  text-align: center;
}

.weekly-forecast {
  font-size: 17px;
  padding-top: 25px;
}

.low-hi {
  font-size: 12px;
}

#github-link {
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -90px;
  text-align: center;
}
